:root {
  --dark-blue: #050a30;
  --nav-blue: #000c66;
  --blue: #0000ff;
  --baby-blue: #7ec8e3;
  --border-tiny: 5px;
  --border-small: 10px;
  --border-medium: 20px;
}

body {
  background-color: var(--dark-blue) !important;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #5464a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5464a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
