:root {
  --dark-blue: #050a30;
  --nav-blue: #000c66;
  --blue: #0000ff;
  --baby-blue: #7ec8e3;
  --border-tiny: 5px;
  --border-small: 10px;
  --border-medium: 20px;
}

body {
  background-color: var(--dark-blue) !important;
}
